<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="loginForm">
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
        <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.email">
                <div class="error-message" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty ||loginForm.get('email').touched)">
                    {{error.message}}
                </div>
            </ng-container>

        </div>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.password">
                <div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty ||loginForm.get('password').touched)">
                    {{error.message}}
                </div>
            </ng-container>
            <ion-button (click)="tryLogin(loginForm.value)" [disabled]="!loginForm.valid" shape="round" size="default" color="primary" expand="block">Login</ion-button>
        </div>
    </form>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p>Already have not an account? <a routerLink="/register">Register</a></p>
        </div>
    </div>
</ion-content>